@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/** 
* @navigation
*/

/* ----- General CSS ------- */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

*, ::before, ::after {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    color: var(--primary-color);
}

:root {
    --main-font: 'Ubuntu', sans-serif;
    --sec-font: 'Open Sans', sans-serif;
    --title-font-size: 3rem;
    --main-text-size: 1.5rem;
    --primary-color: #336699;
    --secondary-color: #00baa7;
    --tertiary-color: #66bb99;
}

/* --------- Main CSS --------- */

/* Flexbox */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--primary-color);
}

section {
    background-color: var(--primary-color);
    width: 100%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
section.header {
    position: relative;
    height: 100vh;
}

.ds {
    color: var(--tertiary-color);
}

.title {
    font-size: var(--title-font-size);
}

.type {
    color: var(--secondary-color);
}

span.static-txt {
    color: white;
}

span.static-txt.after {
    color: var(--tertiary-color);
    transition: all 1s ease-in-out;
}

section.about {
    background-color: var(--secondary-color);
    height: auto;
}

.info-container {
    display: flex;
    background-color: white;
    margin: 100px;
}

.basic-info {
    flex: 1;
    width: 500px;
    height: 300px;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.basic-info-container {
    display: flex;
    flex: 1 1 auto;
    padding: 20px 0;
}

.info-1 {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    text-transform: uppercase;
}

.info-1 h3 {
    font-weight: 500;
}

.info-2 {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.about-me-txt {
    flex: 1;
    width: 500px;
    height: 300px;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.about-me-p {
    line-height: 1.5;
    font-size: 0.9rem;
}

span.title {
    font-size: 1.5rem;
}

span.title-secondary-color {
    color: var(--secondary-color);
}

section.education {
    background-color: var(--primary-color);
    height: auto;
}

.education-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.education-container span.title {
    color: white;
    text-align: center;
}

.school-container {
    background-color: white;
    height: 200px;
    width: 900px;
    margin: 20px;
    display: flex;
}

.left-panel {
    background-color: var(--tertiary-color);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.left-panel span {
    padding: 20px 0;
    color: var(--primary-color);
}

.left-panel span:first-child {
    color: white;
}

.left-panel span:nth-child(2) {
    font-size: 1.2rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

section.contact {
    background-color: var(--tertiary-color);
    height: auto;
}

.contact-container {
    background-color: white;
    padding: 20px;
    height: 600px;
    width: 400px;
    margin: 100px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-item {
    display: flex;
    flex-direction: column;
}

/* Typed JS */
/* Cursor */
.typed-cursor {
    color: var(--secondary-color);
}

/* Images */

img.logo {
    width: 30px;
    cursor: pointer;
    margin-right: auto;
}

/* Navigation */

ul, li, a, button {
    text-decoration: none;
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0 20px;
}

ul li a {
    transition: all 0.3s ease 0s;
    color: white;
}

ul li a:hover {
    color: var(--type-color);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 20px 50px;
    transition: 0.5s;
}

.sticky {
    padding: 0px 50px;
    background-color: var(--tertiary-color);
}

.sticky + .header {
    padding-top: 60px;
}

a {
    color: var(--primary-color);
    font-weight: bold;
}

.cta {
    border: none;
    padding: 13px;
    background: none;
    cursor: pointer;
    border-radius: 30px;
    transition: all 1s ease 0s;
}

.cta.active {
    background-color: var(--secondary-color);
    color: white;
}

/* ***************************************** */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .title {
        font-size: 2rem;
    }

    section {
        width: 100%;
    }

  }